body{
background:#4f7c80;
font-family:Arial;
}

.container{
width:90%;
margin:auto;
background:#2f6266;
padding:30px;
border-radius:30px;
}

header{
display:flex;
align-items:center;
justify-content:space-between;
color:white;
}

header h1{
font-size:28px;
}

.icons i{
color:white;
font-size:22px;
margin-right: 400px;
cursor:pointer;
transition:0.3s;
}

.icons i:hover{
transform:scale(1.2);
}

.voltar i{
font-size:26px;
cursor:pointer;
}

.conteudo{
background:#eee;
padding:25px;
border-radius:25px;
margin-top:20px;
}

.busca{
display:flex;
align-items:center;
background:#ddd;
padding:8px;
border-radius:10px;
margin-bottom:20px;
}

.busca input{
border:none;
background:none;
flex:1;
outline:none;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#4f7c80;
color:white;
padding:10px;
}

td{
padding:10px;
text-align:center;
border-bottom:1px solid #ccc;
}

.btn{
background:#35c41d;
border:none;
color:white;
padding:6px 14px;
border-radius:6px;
cursor:pointer;
}

.btn:hover{
background:#2fa318;
}

.novo{
margin-top:15px;
background:#3b74b3;
color:white;
border:none;
padding:8px 12px;
border-radius:6px;
cursor:pointer;
}